body {
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.936);
    padding-top: 150px;
}
.counter {
    height: 250px;
    width: 250px;
    font-size: 200px;
    color: aliceblue;
    line-height: 250px;
}

.clock {
    font-size: 250px;
    color: aliceblue;
}

.contReloj div {
    text-align: center;
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
